nav {
  background-color: #1d000d;
}
.list-container ul li {
  margin-right: 30px;
}
.list-container ul li a {
  font-size: 20px;
  font-weight: bold;
  color: orange;
  text-decoration: none;
}
.list-container ul li a:hover {
  color: white;
  text-decoration: underline;
}
